body {
   overflow-x: hidden;
}

.text-color {
   color: rgb(126, 126, 126)
}

.highlight-color {
   color: rgb(85, 84, 84)
}

.price {
   color: #FF4C00;
}

.add-cart {
   background-color: rgb(243, 61, 6);
   text-decoration: none;
}

.background {
   background-color: #e7e0e0;
}

.form-style {
   width: 700px;
   background-color: #F0F0F0;
   border: none;
}

.button-style {
   color: rgb(164, 164, 165);
   background-color: rgb(238, 235, 235);
}

.button-syle:hover {
   color: rgb(32, 32, 197);
}

.link-style {
   color: rgb(169, 169, 172);
   text-decoration: none;
   font-size: 17px;
}

.count {
   height: 16px;
   width: 16px;
   font-size: 10px;
}

.ul-style {
   list-style-type: none;
}

.li-style {
   text-decoration: none;
   color: #5a5757;
}

.ending {
   padding: 100px;
}

.feature-image {
   width: 563px;
   height: 350px;
}

.feature-image:hover {
   transform: scale(1.1);
}

.title {
   font-size: 20px;
   color: #5a5757;
}

.first {
   color: #FF6666;
   font-size: 30px;
   display: inline;
}

.second {
   color: #6DEA72;
   font-size: 30px;
   display: inline;
}

.third {
   color: #66DAFF;
   font-size: 30px;
   display: inline;
}

.fourth {
   color: #FF66AF;
   font-size: 30px;
   display: inline;
}

.fifth {
   color: #FFF066;
   font-size: 30px;
   display: inline;
}

.service-desc {
   display: table-column;
   align-items: center;
   justify-content: center;
}

.fa-hand-holding-usd {
   font-size: 60px;
   color: tomato;
}

.services {
   font-size: 12px;
   text-align: center;
   color: #c7c2c2;
}

.service-title {
   color: #74bdff;
   font-size: 18px;
}

.cart-design {
   width: 16%;
}

/* .cart-design:hover {
   transform: scale(1.1);
} */

.flash-header {
   background-image: url("image/background-1.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 110px;
   margin-left: 10px;
}

.phone-image {
   transform: translate(30%, -25%);
   width: 14%;
   height: 140px;
}

.appliance-image {
   transform: translate(30%, -25%);
   width: 19%;
   height: 160px;
}

.flash {
   font-family: 'Poppins', sans-serif;
   font-size: 400%;
}

.life {
   font-family: 'Poppins', sans-serif;
   font-size: 400%;
   color: white;
}

.appliance {
   font-family: 'Poppins', sans-serif;
   font-size: 400%;
}

.accessories {
   font-family: 'Poppins', sans-serif;
   font-size: 400%;
}

.life-header {
   background-image: url("image/background-2.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 110px;
}

.appliance-header {
   background-image: url("image/background-3.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 110px;
}

.accessories-header {
   background-color: rgb(250, 87, 188);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 110px;
}

.view-button {
   height: 8px;
   width: 100px;
   padding-bottom: 2.2%;
   margin-top: 3.5%;
   color: rgb(109, 107, 107);
   transform: translateX(-50%);
   font-family: 'Roboto', sans-serif;
   font-size: 90%;
}

.view-button:hover {
   background-color: orange;
   color: white;
}

.headphone-image {
   width: 100%;
}

.cart-button {
   font-size: 90%;
}

.list-size {
   font-size: 14px;
}

.more {
   display: none;
}

.ul-style li:hover {
   transform: scale(1.2);
}

.quick:hover {
   transform: scale(1.3);
}

.service-desc:hover {
   transform: scale(1.2);
}

.nav-image {
   width: 200px;
   margin-left: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
   nav {
      display: table-row;
   }
   header {
      margin: 10px;
   }
   .nav-image {
      padding-left: 50px;
      margin-left: 40px;
   }
   .nav-style {
      display: table-row;
   }
   .form-style {
      margin-top: 20px;
      width: 270px;
   }
   .form-control {
      margin-left: 40px;
   }
   .button-style {
      margin-top: 20px;
   }
   .login-cart {
      margin-top: 20px;
      align-items: center;
      justify-content: center;
   }
   .link-style {
      padding-left: 0px;
   }
   .feature-image {
      padding: 10px;
      width: 100%;
      margin-top: 15px;
      height: 200px;
   }
   .ending {
      width: 55%;
      height: 40px;
      transform: translateX(-1%);
   }
   .ending-font {
      font-size: 15px;
      text-align: center;
      margin-top: -65px;
   }
   .flash-header {
      background-image: url("image/background-1.png");
      background-repeat: no-repeat;
      height: 70px;
   }
   .flash {
      font-size: 150%;
      transform: translate(-10%, 10%);
   }
   .life {
      font-size: 150%;
      transform: translate(-10%, 5%);
   }
   .appliance {
      font-size: 150%;
      transform: translate(-10%, 5%);
   }
   .accessories {
      font-size: 150%;
      transform: translate(-10%, 10%);
   }
   .accessories-header {
      height: 65px;
   }
   .life-header {
      background-image: url("image/background-2.png");
      background-repeat: no-repeat;
      height: 70px;
   }
   .appliance-header {
      background-image: url("image/background-3.png");
      background-repeat: no-repeat;
      height: 70px;
   }
   .appliance-image {
      transform: translate(20%, -25%);
      width: 21%;
      height: 95px;
   }
   .view-button {
      height: 25px;
      width: 18%;
      margin-top: 5%;
      color: rgb(109, 107, 107);
      /* transform: translate(-35%, 10%); */
      font-family: 'Roboto', sans-serif;
      font-size: 40%;
   }
   .phone-image {
      transform: translate(1%, -20%);
      width: 100px;
      height: 80px;
   }
   .cart-design {
      width: 44%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      font-size: 16px;
   }
   .headphone-image {
      width: 100%;
      height: 150px;
   }
   .cart-button {
      font-size: 50%;
   }
   .price-size {
      font-size: 16px;
      margin-top: 6px;
   }
   .deal {
      width: 150px;
   }
   .safe {
      width: 120px;
   }
   #side-bar {
      height: 80px;
      overflow: hidden;
   }
   .more {
      display: block;
   }
   .title-1 {
      font-size: 13px;
   }
   #show-more {
      font-size: 20px;
      margin-left: 70px;
   }
}

@media screen and (min-width: 481px) and (max-width: 668px) {
   nav {
      display: table-row;
   }
   header {
      margin: 10px;
   }
   .nav-image {
      padding-left: 20px;
      margin-left: 120px;
   }
   .nav-style {
      display: table-row;
   }
   .form-style {
      margin-top: 20px;
      width: 300px;
   }
   .form-control {
      margin-left: 80px;
   }
   .button-style {
      margin-top: 20px;
   }
   .title-1 {
      margin-left: 30px;
   }
   #side-bar {
      height: 97px;
      overflow: hidden;
   }
   .more {
      display: block;
   }
   .login-cart {
      margin-top: 20px;
      align-items: center;
      justify-content: center;
   }
   .link-style {
      padding-left: 0px;
   }
   .feature-image {
      width: 285px;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
   }
   .safe {
      width: 200px;
   }
   .deal {
      width: 200px;
   }
   .flash-header {
      background-image: url("image/background-1.png");
      background-repeat: no-repeat;
      height: 80px;
   }
   .life-header {
      background-image: url("image/background-2.png");
      background-repeat: no-repeat;
      height: 80px;
   }
   .appliance-header {
      background-image: url("image/background-3.png");
      background-repeat: no-repeat;
      height: 80px;
   }
   .phone-image {
      transform: translate(5%, -20%);
      width: 100px;
      height: 80px;
   }
   .flash {
      font-size: 200%;
      transform: translate(-10%, 2%);
   }
   .life {
      font-size: 200%;
      transform: translate(-10%, 2%);
   }
   .appliance {
      font-size: 200%;
      transform: translate(-10%, 2%);
   }
   .appliance-image {
      transform: translate(10%, -25%);
      width: 21%;
      height: 110px;
   }
   .view-button {
      height: 27px;
      width: 18%;
      padding-bottom: 2.2%;
      margin-top: 5%;
      color: rgb(109, 107, 107);
      transform: translate(-35%, 10%);
      font-family: 'Roboto', sans-serif;
      font-size: 60%;
   }
   .cart-design {
      width: 47%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
   }
   .headphone-image {
      width: 100%;
      height: 150px;
   }
   .accessories {
      font-size: 200%;
      transform: translate(-20%, 2%);
   }
   .accessories-header {
      height: 75px;
   }
   .ending {
      width: 110%;
      height: 70px;
   }
   .ending-font {
      font-size: 20px;
      margin-top: -65px;
   }
   #show-more {
      font-size: 30px;
      margin-left: 100px;
      margin-top: 3px;
   }
}